%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [debug_info]}.

{lib_dirs, ["deps", "deps/couch_core/apps"]}.
{sub_dirs, ["rel", "deps/couch_core/apps/*"]}.


{deps, [
    {refuge_core, ".*", {git, "git://github.com/refuge/refuge_core.git",
        {branch, "master"}}}

]}.

{require_otp_vsn, "R15"}.
