%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
    
      %% apache couchdb core
      {refuge_core, ".*", {git, "git://github.com/refuge/refuge_core.git", 
                        {branch, "master"}}},

      %% spatial indexer
      {geocouch, ".*", {git, "git://github.com/refuge/geocouch.git", 
                        {branch, master}}}
]}.

{sub_dirs, ["rel"]}.

{require_otp_vsn, "R14B0[234]"}.
